# Ignore node_modules, as they will be installed within the container
node_modules

# Ignore the Next.js build output directory
.next

# Ignore Git history
.git

# Ignore Docker related files
Dockerfile
.dockerignore

# Ignore local Firebase data
firebase_data

# Ignore log files
*.log
